ansible
ansible-core
Babel
bcrypt
blinker
certifi
chardet
click
colorama
cryptography
defer
duplicity
fasteners
future
gyp
httplib2
idna
jeepney
Jinja2
jmespath
keyring
launchpadlib
lazr.restfulclient
lazr.uri
lockfile
louis
macaroonbakery
Mako
MarkupSafe
monotonic
netifaces
oauthlib
olefile
packaging
paramiko
pexpect
Pillow
protobuf
ptyprocess
pycairo
pycups
PyGObject
PyJWT
pykerberos
pymacaroons
pyparsing
pytz
pywinrm
pyxdg
PyYAML
reportlab
requests
requests-kerberos
resolvelib
six
