ansible
ansible-core
Babel
bcrypt
blinker
Brlapi
certifi
chardet
click
colorama
command-not-found
cryptography
cupshelpers
dbus-python
defer
distro
distro-info
duplicity
fasteners
future
gyp
httplib2
idna
importlib-metadata
jeepney
Jinja2
jmespath
keyring
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
lockfile
louis
macaroonbakery
Mako
MarkupSafe
monotonic
more-itertools
netifaces
ntlm-auth
oauthlib
olefile
packaging
paramiko
pexpect
Pillow
protobuf
ptyprocess
pycairo
pycups
PyGObject
PyJWT
pykerberos
pymacaroons
PyNaCl
pyparsing
pyRFC3339
python-apt
python-dateutil
python-debian
pytz
pywinrm
pyxdg
PyYAML
reportlab
requests
requests-kerberos
requests-ntlm
resolvelib
SecretStorage
six
ssh-import-id
systemd-python
ubuntu-drivers-common
ubuntu-pro-client
ufw
unattended-upgrades
urllib3
usb-creator
wadllib
xdg
xkit
xmltodict
zipp
