ansible
ansible-core
Babel
bcrypt
blinker
certifi
chardet
click
colorama
cryptography
cupshelpers
defer
duplicity
fasteners
future
gyp
httplib2
idna
jeepney
Jinja2
jmespath
keyring
launchpadlib
lazr.restfulclient
lazr.uri
lockfile
louis
macaroonbakery
Mako
MarkupSafe
monotonic
more-itertools
netifaces
ntlm-auth
oauthlib
olefile
packaging
paramiko
pexpect
Pillow
protobuf
ptyprocess
pycairo
pycups
PyGObject
PyJWT
pykerberos
pymacaroons
PyNaCl
pyparsing
pyRFC3339
python-apt
python-dateutil
python-debian
pytz
pywinrm
pyxdg
PyYAML
reportlab
requests
requests-kerberos
requests-ntlm
resolvelib
SecretStorage
six
ssh-import-id
systemd-python
ubuntu-drivers-common
ubuntu-pro-client
ufw
unattended-upgrades
urllib3
usb-creator
wadllib
xdg
xkit
xmltodict
zipp
